.bilingual-box {
    padding: 10px;
    font-family: 'Noto Serif JP', sans-serif;
}

.bilingual-box .language-from {
    background: #e4e4e4;
    padding: 8px;
}

.bilingual-box .language-to {
    background: #e4e4e4;
    padding: 8px;
}

.bilingual-box .commentary {
    background: #f7f3d2;
    margin: 10px;
    padding: 10px;
}

.bilingual-box .commentary p {
    font-size: 11pt;
    text-indent: 1em;
}

.hidden {
    display: none;
}
